body,
html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 90px; /* Adjust according to the height of your navbar */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: #fcfbf4 !important;
}

.form-control {
  width: 200px; /* Adjust the width as needed */
}

#home {
  margin-top: 350px;
  background-color: #fcfbf4;
}

.my-photo {
  margin-left: 30%;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
}

.my-details-container {
  margin-top: 50px;
}
.circles {
  width: 120px;
  position: relative;
}

.small-circles {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7fd6c1;
  margin-bottom: 12px;
  top: -20px;
  left: 400px;
}
.circle-line {
  display: flex;
  justify-content: space-between;
}

/* try */
.photo-container {
  position: relative;
  width: 300px; /* Adjust size as needed */
  margin-left: 100px;
}

@media (max-width: 768px) {
  .photo-container {
    margin-left: 35px;
  }
  #home {
    margin-top: 127px;
  }
}

.photo-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.circle,
.line,
.shape {
  position: absolute;
  background-color: transparent;
}

.circle {
  border-radius: 50%;
}

.line {
  width: 2px;
  background-color: #7fd6c1; /* Adjust color as needed */
}

.shape {
  border-top: 40px solid #7fd6c1; /* Comment: Creates the top border of the triangle with a specific color */
  border-left: 40px solid transparent; /* Comment: Creates the left border of the triangle as transparent */
  border-right: 40px solid transparent;
}

/* Circle Styles */
.circle1 {
  width: 20px;
  height: 20px;
  left: -30px;
  border: 2px solid #7fd6c1; /* Adjust color as needed */
}

/* Line Styles */
.line1 {
  height: 50px;
  top: 30%;
  left: -10px;
  width: 6px;
  border-radius: 5px;
}

.line2 {
  height: 50px;
  bottom: 30%;
  right: -10px;
  width: 6px;
  border-radius: 5px;
}

/* Shape Styles */
.shape1 {
  width: 50px;
  height: 50px;
  top: -20px;
  right: -20px;
  background-color: #7fd6c1; /* Adjust color as needed */
}

.shape2 {
  width: 30px;
  height: 30px;
  top: 10%;
  left: -20px;
}

/* Specific Styles for Red Circles */
.red-circle {
  width: 10px;
  height: 10px;
  background-color: #ffc107;
  border-radius: 50%;
  margin-bottom: 12px;
  margin-right: 20px;
  position: relative;
  left: 80%;
  bottom: 30px;
}

.red-circle1 {
  display: flex;
}

.red-circle2 {
  display: flex;
}

.red-circle3 {
  display: flex;
}

#skills {
  margin-top: 100px;

  margin-bottom: 100px;
}

.skill-container {
  margin: 50px 0;
}
.skill-label {
  font-weight: bold;
  margin-bottom: 5px;
}

#projects {
  background-color: #7fd6c1;
  padding: 30px 10px;
}

.btn-learn-more {
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
  cursor: pointer;
}

.btn-learn-more:hover {
  background-color: #ffc107;
  color: black;
  font-weight: Bold;
}

.project-card {
  border-radius: 0px;
  border: 4px solid;
  border-image: linear-gradient(to right, #3a4949 50%, #3a4ed5 100%) 1;
}

.card-text {
  text-align: center;
  padding: 20px;
  margin: 19px 0;
}

/* Example of increasing specificity */
.card.custom-card {
  border-radius: 0;
  border: 4px solid black;
  background-color: #f8f6f0;
  margin-bottom: 20px;
}

.btn-outline-warning.custom-btn {
  background-color: #7fd6c1;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
}

.field .item {
  border-color: #3990df;
  margin-bottom: 20px;
}

.error-txt {
  font-size: 14px;
  color: red;
  text-align: left;
  margin: 5px 0 0 0;
  display: none;
}

.field.error .item {
  border-color: red;
}

.field.error .error-txt {
  display: block;
}

.contact-me,
.form {
  margin: 50px;
}

.field-comment .item-comment {
  margin-bottom: 20px;
  border: 1px solid black;
}

.social-links {
  display: flex;
  gap: 20px; /* Adjust spacing between icons */
}

.icon-with-text {
  text-align: center;
}

.icon-with-text i {
  display: block;
  font-size: 24px; /* Adjust icon size */
}

.icon-with-text span {
  display: block;
  margin-top: 5px; /* Adjust spacing between icon and text */
  font-size: 14px; /* Adjust text size */
}

.social-links > a {
  margin-top: 70px;
  text-decoration: none;
  color: black;
}

.social-links > a:hover {
  text-decoration: none;
  color: #2e3a5a;
}

.contact-info a {
  display: block; /* Make the link a block element */
  padding: 10px 0; /* Padding for the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  background-color: transparent; /* Transparent background */
  border: 2px solid #000; /* Border with color, adjust as needed */
  color: #000; /* Text color */
  font-size: 16px; /* Font size */
  margin-bottom: 10px; /* Space between the buttons */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.contact-info a:hover {
  background-color: #7fd6c1; /* Change background color on hover */
}

.contact-details {
  margin-top: 50px;
}

.contact-details > p > a {
  color: #ffc107;
  font-weight: bold;
  text-decoration: none;
}
.online-resume {
  color: #ffc107;
  font-weight: bold;
  text-decoration: none;
}
.online-resume:hover {
  text-decoration: underline;
}

.contact-details > p > a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .row {
    display: flex;
  }
  .col-md-6 {
    flex: 1;
  }
}

.skill-icon {
  font-size: 50px;
  margin: 30px;
}

.skills-card {
  text-align: center;
}

.skills-card:hover {
  color: white;
  background-color: #ffc107;
}
